<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <br />
          <% if current_user %>
          <dd><h4> -----> Give your review <-----</h4></dd>
          <%= form_for :reviews, url: "/products/#{@product.id}/reviews" do |f| %>
            <dt> <%= f.label 'Description' %>:</dt>
            <dd><%= f.text_area :description, size: "50x4" %></dd>
            <dt> <%= f.label 'Rating' %>:</dt>
            <dd><%= f.select :rating, options_for_select([1, 2, 3, 4, 5]) %></dd>
            <dd><%= f.submit %></dd>
          <% end %>  
          <% end %>
        </dl>
      </div>
    </div> 
  </article>
  <article class="product-detail">
    <h5> --------> TOP REVIEWS <-------- <h5>
    <div class="row">
      <div class="col-sm-8">
        <% if @product.reviews.size == 0 %>
          <h4> This product doen't have review </h4>
        <%else%>
          <dl class="dl-horizontal">
            <% @product.reviews.each do |review| %>
            <dt>Name</dt> <dd><%= review.user.first_name %></dd>
            <dt>Description</dt> <dd><%= review.description %></dd>
            <dt>Rating</dt> <dd><%= review.rating %></dd>
            
            <% if review.user_id == current_user.id %>
              <dd><%= link_to 'Delete', products_review_remove_path(:id=>review.id, :products_id=>@product.id), method: :delete %><dd>
            <% end %>
            <br />
            <%end%>
          </dl>
          
        <%end%>
      </div>
    </div> 
  </article>
</section>